.home-intro-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20vh;
    gap: 5vw;
    border: 1px solid white;
    
}
.home-taiki-image{
    width: 20vw;
    margin-top: auto; margin-bottom: auto;
    border-radius: 100%;
}

.home-intro-text{
    font-size: 40px;
    margin-top: auto;
    margin-bottom: auto;


}